<body style="background-color:DarkGrey ;">


<div class="w3-card-4">
<div class="w3-container w3-green">
  <h2>create new post</h2>
</div>
<form action="/upload" method="post" enctype="multipart/form-data" class="w3-container">
  <input class="w3-input w3-border" type="text" name="subject" placeholder="Subject">
  <textarea class="w3-input w3-border" name="theme" placeholder="Theme" rows="10" cols="50"></textarea>
  <input name="pic" type="file" accept="image/*">
  
  <button type="submit">post</button> 
</form>

</div>